*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #252525;
    color: #e3e3e3;
    font-family: "Arial", sans-serif;
    font-family: "Open Sans", serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper form{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.wrapper form input{
    margin-bottom: 10px;
    padding: 15px 10px;
    border-radius: 10px;
}

.wrapper form input:not(input[type="checkbox"]):focus{
    outline: 1px solid coral;
}

.wrapper form .checkbox,
.wrapper form input[type="checkbox"] {
    cursor: pointer;
}

.wrapper table{
    margin-top: 20px;
}

.wrapper table .product-category-name{
    padding: 10px 0;
}

.wrapper table .product-price--value,
.wrapper table .product-price-title{
    padding-left: 30px;
}
